
<div class="row">
    <div class="span7">
        <div style="height: 300px; width: 670px; background: #<%=background%>; color: #<%=color%>;
        border-radius: 5px; border: 1px solid #E3E3E3; box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05); padding: 10px;
        display: table-cell; text-align: center; vertical-align: middle;">
            <div style="<%=shadowStyle%> font-size: <%=fontSize%>px; font-family: <%=fontName%>;">
                <%=text%>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="span7">
        <pre class="pre-scrollable">.someClass
{
    <%=shadowStyle%>
}</pre>
    </div>
</div>
