<label><strong>Text:</strong></label>
<textarea placeholder="Type sample text…" class="span4 edit" data-field="text" value="<%=text%>"></textarea>
<span class="help-block">Sample text</span>
<label><strong>Text color:</strong></label>
<input type="text" class="span4 edit" data-field="color" value="<%=color%>">
<span class="help-block">Text color.</span>
<label><strong>Background color:</strong></label>
<input type="text" class="span4 edit" data-field="background" value="<%=background%>">
<span class="help-block">Text color.</span>