<div class="row">
    <div class="span5">
        <label><strong>Text:</strong></label>
        <textarea placeholder="Type sample text…" class="edit" style="width: 93%; min-height: 100px;" data-field="text"><%=text%></textarea>
        <!--<span class="help-block">Sample text</span>-->
    </div>
</div>
<div class="row">
    <div class="span2">
        <label><strong>Text color:</strong></label>
        <strong style="font-size:1.5em">#&nbsp;</strong><input type="text" class="input-small edit" data-field="color" value="<%=color%>">
        <!--<span class="help-block">Text color.</span>-->
    </div>
    <div class="span2">
        <label><strong>Background color:</strong></label>
        <strong style="font-size:1.5em">#&nbsp;</strong><input type="text" class="input-small edit" data-field="background" value="<%=background%>">
        <!--<span class="help-block">Text color.</span>-->
    </div>
</div>
<div class="row">
    <div class="span2">
        <label><strong>Font size, px:</strong></label>
        <input type="text" class="input-small edit" data-field="fontSize" value="<%=fontSize%>">
    </div>
    <div class="span2">
        <label><strong>Font name:</strong></label>
        <input type="text" class="input-large edit" data-field="fontName" value="<%=fontName%>">
    </div>
</div>