<tr>
    <td><input type="text" placeholder="H-shift, px" class="input-mini edit-row" data-field="hShadow" value="<%=hShadow%>"></td>
    <td><input type="text" placeholder="V-shift, px" class="input-mini edit-row" data-field="vShadow" value="<%=vShadow%>"></td>
    <td><input type="text" placeholder="Blur, px" class="input-mini edit-row" data-field="blur" value="<%=blur%>"></td>
    <td><input type="text" placeholder="Color" class="input-mini edit-row" data-field="color" value="<%=color%>"></td>
    <td><input type="text" placeholder="Opacity" class="input-mini edit-row" data-field="opacity" value="<%=opacity%>"></td>
</tr>