<div class="span7">
    <div class="well">
        <h4>Example</h4>
        <div style="text-shadow: <%=hShadow%>px <%=vShadow%>px 1px #AAA;">
            Some text
        </div>
    </div>
</div>
<div class="span5">
    <div class="well">
        <form>
            <legend>Parameters</legend>
            <label><strong>Horizontal shift:</strong></label>
            <input type="text" placeholder="Type something…" class="span4" data-field="hShadow" value="<%=hShadow%>">
            <span class="help-block">Horizontal shadow shift in pixel.</span>
            <label><strong>Vertical shift:</strong></label>
            <input type="text" placeholder="Type something…" class="span4" data-field="vShadow" value="<%=vShadow%>">
            <span class="help-block">Vertical shadow shift in pixel.</span>
        </form>
    </div>
</div>