<tr id="<%=id%>">
    <td><input type="text" placeholder="H-shift, px" class="input-mini edit-row" data-field="hShadow" data-cid="<%=id%>" value="<%=hShadow%>"></td>
    <td><input type="text" placeholder="V-shift, px" class="input-mini edit-row" data-field="vShadow" data-cid="<%=id%>" value="<%=vShadow%>"></td>
    <td><input type="text" placeholder="Blur, px" class="input-mini edit-row" data-field="blur" data-cid="<%=id%>" value="<%=blur%>"></td>
    <td><input type="text" placeholder="Color" class="input-mini edit-row" data-field="color" data-cid="<%=id%>" value="<%=color%>"></td>
    <td><input type="text" placeholder="Opacity" class="input-mini edit-row" data-field="opacity" data-cid="<%=id%>" value="<%=opacity%>"></td>
    <td><button class="btn btn-danger btn-mini delete-row" data-cid="<%=id%>" type="button"><i class="icon-remove"></i></button></td>
</tr>