<div class="span8">
    <div class="well well-small">
        <h4>Example</h4>
    </div>
</div>
<div class="span4">
    <div class="well well-small">
        <h4>Parameters</h4>
        <div class="row">
            <div class="span4">
                Horizontal shift:
            </div>
            <input type="text" class="span4" data-field="hShadow" value="<%=hShadow%>">
            <div class="span4">
                Vertical shift:
            </div>
            <input type="text" class="span4" data-field="vShadow" value="<%=vShadow%>">
        </div>
    </div>
</div>