<div class="span7">
    <div class="well well-small">
        <h4>Example</h4>
    </div>
    <div id="example">
        Some text
    </div>
</div>
<div class="span5">
        <form>
            <div class="well well-small">
                <legend>Main parameters</legend>
                <div id="main-param">Some parameters</div>
            </div>
            <div class="well well-small">
                <legend>Shadows collections</legend>
                <table class="table table-condensed">
                    <thead>
                        <th class="input-mini">Horizontal</th>
                        <th class="input-mini">Vertical</th>
                        <th class="input-mini">Blur</th>
                        <th class="input-mini">Color</th>
                        <th class="input-mini">Opacity</th>
                    </thead>
                    <tbody id="shadow-param-collection">
                    </tbody>
                </table>
            </div>
        </form>

</div>